body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.root_container {
    display: grid;
    grid-template-rows: 60px 750px auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "topNav" "bodyContainer" "imgGal" "Benifit" "footer";
}

.root_container3 {
    display: grid;
    grid-template-rows: 60px 42px auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "topNav" "Smallbar" "imgGal" "Desc" "Benifit" "footer";
}

.root_container4 {
    display: grid;
    grid-template-rows: 60px 42px 620px auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "topNav" "Smallbar" "Contact" "Benifit" "footer";
}

.contact_us_info {
    grid-area: Contact;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact_us_title {
    align-self: center;
}

.contact_us_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.small_bar {
    grid-area: Smallbar;
    background-color: #107dac;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.small_bar p {
    margin: 0;
}

.description {
    margin-top: 30px;
    grid-area: Desc;
    width: 100%;
}

.description_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.description_holder p {
    margin: 10px !important;
}

.desc_img_1 {
    width: 95%;
    height: 350px;
}

.desc_img_2 {
    width: 95%;
    height: 500px;
}

.desc_img_3 {
    width: 95%;
    height: 300px;
}

.description_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.store_links {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    text-align: right;
}

.img_gal {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    grid-area: imgGal;
    background-color: white;
}

.img_set {
    border-radius: 3px;
    cursor: pointer;
}

.img_gal h3 {
    text-align: center;
}

.price_label {
    text-align: center;
    margin-top: 10px;
}

.price_label p {
    display: inline;
}

.old_price {
    text-decoration-line: line-through;
}

.btn_ham {
    cursor: pointer;
    margin-left: 10px;
}

.main_container {
    display: flex;
    flex-direction: column;
}

.hero-header {
    display: flex;
    flex-direction: column;
}

.hero-header-title {
    width: 100%;
    min-height: 239px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #71c7ec;
}

.hero-header-image {
    width: 100%;
    height: 342px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.center_logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo_11 {
    text-decoration: none;
    width: 57px;
    height: 57px;
}

.hero-header-title h1 {
    margin: 10px;
    font-size: 2.5rem;
    font-weight: 800;
}

.social-proof {
    display: flex;
    flex-direction: column;
    color: #33333373;
}

.social-proof-header {
    margin-bottom: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-proof-header h1 {
    font-weight: 600;
}

.social-proof-images {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-proof-images-carosel {
    width: 95%;
    padding: 0;
}

.carousel-inner {
    height: 100px;
}

.filtreau-image {
    max-width: 100%;
}

.call-to-action {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.call-to-action-button {
    width: 80%;
}

.call-to-action-button-element {
    background-color: orange;
    border: none;
    width: 100%;
    height: 69px;
    border-radius: 7px;
    outline: none;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
}

.call-to-action-header {
    text-align: center;
    padding: 0;
    width: 90%;
}

.call-to-action-header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.features {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy_btn_2 {
    margin-top: 10px;
    text-align: center;
    width: 80%;
    padding: 13px 24px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    background-color: orange;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 800;
    outline: none;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    cursor: pointer;
}

.btn_order {
    cursor: pointer;
}

.call_to_action {

    width: 90%;
    border: solid 1px;
    padding: 10px;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
}

.imgs0 {

    width: 350px;
}

.buy_info {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    /* border: solid 1px; */
    padding: 5px;
}

.buy_btn_2:hover {
    text-decoration: none;
    color: #202020;
    border: solid 1px;
}

.feature h1 {
    font-weight: 600;
    color: white;
}

.feature {
    background-color: #1ebbd7;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    border-radius: 8px;
    border: solid;
}

.f-image {
    max-width: 100%;
    width: max-content;
    align-self: center;
}

.call-to-action-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    grid-area: imgGal;
    background-color: white;
    margin-top: 50px;
}

.top_nav_bar {
    display: flex;

    z-index: 1;
    grid-area: topNav;
    background-color: white;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 40px rgba(31, 30, 30, 0.062);
    align-items: center;
}

.logo {
    flex: 1;
    width: 57px;
    height: 57px;
}

.imgs img {
    border: solid 1px white;
}

.info_form {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.body_container {
    grid-area: bodyContainer;
    background-color: #71c7ec;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #202020;

    grid-area: footer;
}

.shop_motivation_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.small_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.img_container {

    display: flex;
    justify-content: center;
}

.imgs {
    margin-top: 10px;
    display: flex;

    overflow-x: scroll;
}

.slick_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_menu {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: 300ms ease-in-out;
}

.left_menu_options {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 7px 5px rgba(32, 24, 24, 0.034);
}

.menu_logo * {
    display: inline;
    margin-left: 10px;
}

.menu_logo {
    display: flex;
    align-items: center;
}

.rights {
    padding: 8px 8px;
    text-align: center;
    color: white;
}

.valide_msg {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.valide_msg h1 {
    color: rgb(65, 151, 65);

}

.centering {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_btn {
    text-decoration: none;
    outline: none;
    border: none;
    height: 60px;
    width: 200px;
    align-self: center;
    background: #419741;
    color: white;
    font-size: x-large;
}

.entery_field {
    display: flex;
    justify-content: start;
    margin: 10px 0px;
    align-items: center;
    text-align: right;
    width: 100%;
}

.entery_field label {
    width: 100%;
    font-family: "Cairo", sans-serif;
}

.root_container2 {
    display: grid;
    grid-template-rows: 100px auto auto 300px;
    grid-template-columns: 1fr;
    grid-template-areas: "Cr" "Smallbar" "ContacrInfo" "OrdreSummary" "Benifit" "footer";
    width: 100%;
    height: 100%;
}

.ordre_summary {
    grid-area: OrdreSummary;
    margin: 10px 10px;
}

.ordre_summary div p {
    display: inline-block;
    font-family: "Roboto", sans-serif;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.shipping {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.instalation {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total * {
    display: inline-block;
    font-family: "Roboto", sans-serif;
}

.cover {
    display: flex;
    justify-content: center;
    grid-area: Cr;
    background: #f7f7f7;
    width: 100%;
}

.benifit {
    display: flex;
    flex-direction: column;
    grid-area: Benifit;
    background-color: #f7f7f7;
}

.benifit_field {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 10px;
}

.benifit_field * {
    display: inline;
}

.contact_info {
    grid-area: ContacrInfo;
}

.contact_info label {
    margin-left: 10px;

    color: #333333;
}

.body_img {
    width: 100%;
    height: 84%;
    background: url("../image/women_child.png") no-repeat;

    background-size: contain;
}

.l-font {
    font-size: 1.2rem;
    font-weight: 700;
}

.l-benefit {
    margin-top: 20px;
}

/* for descktop */
@media only screen and (min-width: 570px) {
    .carousel-inner {
        height: 200px;
    }

    .call-to-action {
        width: 50%;
        align-self: center;
    }

    .feature {
        background-color: #1ebbd7;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 400px;
        text-align: center;
        border-radius: 8px;
        border: solid;
    }

    .features {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .hero-header {
        display: flex;
        flex-direction: row;
    }

    .hero-header-title {
        height: 559px;
        background: rgb(113, 199, 224);
        background: linear-gradient(
                90deg,
                rgba(113, 199, 224, 1) 0%,
                rgba(101, 200, 227, 0.7791491596638656) 77%,
                rgba(0, 212, 255, 0) 100%
        );
    }

    .hero-header-title h1 {
        font-size: 3.5rem;
        line-height: 71px !important;
    }

    .social-proof-images-carosel {
        width: 40%;
        padding: 0;
    }

    .social-proof-header h1 {
        font-size: 2.5rem !important;
    }

    .social-proof {
        margin-top: 30px;
    }

    .store_links {
        text-align: center;
    }

    .root_container {
        display: grid;
        grid-template-rows: 60px 900px auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: "topNav" "bodyContainer" "imgGal" "Benifit" "footer";
    }

    .body_img {
        width: 100%;
        height: 100%;
        background: url("../image/desktop_image.png") no-repeat center;
        background-size: cover;
    }

    .shop_motivation_container {
        justify-content: center;
    }

    .small_intro {
        background: #71c7ec3a;
        padding: 20px;
        border-radius: 3px;
        backdrop-filter: blur(3px);
        margin-bottom: 40px;
    }

    .top_nav_bar {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }

    .img_gal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
        grid-area: imgGal;
        background-color: white;
        margin-top: 50px;
    }

    .call-to-action-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
        grid-area: imgGal;
        background-color: white;
        margin-top: 50px;
    }

    .buy_section {
        margin: 20px 30px;
        margin-bottom: 30px;
    }

    .benifit {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .ordre_summary {
        width: 556px;
        justify-self: center;
    }

    .contact_info {
        width: 556px;
        justify-self: center;
    }

    .root_container2 {
        display: grid;
        grid-template-rows: 100px auto auto 300px;
        grid-template-columns: 1fr;
        grid-template-areas: "Cr" "Smallbar" "ContacrInfo" "OrdreSummary" "Benifit" "footer";
        width: 100%;
        height: 100%;
    }

    .buy_btn {
        width: 100% !important;
    }

    .call_to_action {
        margin-top: 165px;
        width: 90%;
        border: solid 1px;
        padding: 10px;
        border-radius: 5px;
        align-self: center;
        justify-self: center;
    }

    .desc_img_1 {
        width: 100%;
        height: 800px;
    }

    .desc_img_2 {
        width: 100%;
        height: 1000px;
    }

    .desc_img_3 {
        width: 100%;
        height: 700px;
    }

    .description {
        margin-top: 50px;
    }

    .description_holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
}

/* -------------------utilities---------------------------- */
.br-t {
    border-top: solid 2px #f7f7f7;
}

.mr-s {
    margin-right: 10px;
}

.ml-s {
    margin-left: 10px;
}

.f_size_1 {
    font-size: 30px;
}

.inline-childs * {
    display: inline-block;
    margin-right: 8px;
}

.f_size_2 {
    size: 20px;
}

.no_decoration {
    text-decoration: none;
}

.color_1 {
    color: #005073;
}

.color_2 {
    color: #107dac;
}

.color_3 {
    color: #189ad3;
}

.color_4 {
    color: #1ebbd7;
}

.color_5 {
    color: #71c7ec;
}

.gold-color {
    color: #f5cf00;
}

.bgcolor_1 {
    background-color: #005073;
}

.bgcolor_2 {
    background-color: #107dac;
}

.bgcolor_3 {
    background-color: #189ad3;
}

.bgcolor_4 {
    background-color: #1ebbd7;
}

.bgcolor_5 {
    background-color: #71c7ec;
}

.white {
    color: white;
}

.black {
    color: #202020;
}

.font_1 {
    font-family: "Roboto", sans-serif;
}

.font_2 {
    font-family: "Karla", sans-serif;
}

.font_3 {
    font-family: "Cairo", sans-serif;
}

.color_info {
    color: #333333;
}
